*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    
    }
    
    .titulo{
        padding: 40px;
    }
    nav ul{
        width: 100%;
        margin: auto;
        border-radius: 10px;
        list-style-type: none;
        background-color:rgb(0, 174, 255);
    }
    
    nav li{
        display: inline-flex;
    }
    
    
    nav a{
        padding: 10px;
        width: 150px;
    
    }
    
    nav ul a:hover{
    background-color: white;
    }
    
    
    
    
    .contenido{
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    
    .contenido .articulo{
        width: 70%;
        margin: auto;
    }
    
    
    
    .contenido .articulo div{
        width: 80%;
        padding: 15px;
        background-color: rgb(0, 255, 34);
        border-radius: 15px;
        margin-bottom: 15px;
    
    }
    
    
    .contenido .articulo img{
        width: 40%;
        border-radius: 5px;
    }
    
    
    .contenido .secundaria{
        width: 40%;
        display: block;
        margin-bottom: 20px; /* Espaciado entre secciones secundarias */
        padding: 10px; /* Espacio interno de la sección */
        border: 1px solid #ccc; /* Borde alrededor de la sección */
        background-color: #f9f9f9; /* Color de fondo */
    }
    .contenido .secundaria p{
        background-color: rgb(5, 176, 255);
        border-radius: 15px;
        padding: 15px;
        height: 230px;
        overflow: hidden;
        word-wrap: break-word;
        margin-top: 10px; /* Espacio encima de cada párrafo */
        margin-bottom: 15px; /* Espacio debajo de cada párrafo */
    }
    
    .contenido .secundaria img{
        width: 100%;             /* La imagen ocupará todo el ancho del cuadro */
        height: auto;           /* Mantiene la proporción */
        border-radius: 5px;
        max-width: 100%; /* Asegura que la imagen no sobrepase el ancho */
        height: auto; /* Mantiene la proporción de la imagen */
        margin-bottom: 10px; /* Espaciado debajo de cada imagen */
        
    }
    .contenido .articulo img{
        width: 40%;
        border-radius: 5px;
    }
    
    .piedepagina{
        background-color: rgb(0, 153, 255);
        margin: 100px;
    
    }
    .piedepagina p{
        padding: 100px;
    }
    
    h1{
        font-size: 70px;
        color: rgb(255, 0, 34);
        border-radius: 10px;
    }
    h2{
        font-size: 40px;
        color: rgba(43, 7, 247, 0.925);
        border-radius: 10px;
    }
    p{
        font-size: 20px;
        color: brown; 
        text-align: justify; 
    }
